<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Spletna Aplikacija Benjamin Mržek</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@
                @Html.ActionLink("Spletna aplikacija Benjamin Mržek", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div style="font-size:16px;">
                @*<ul class="nav navbar-nav">
            <li>@Html.ActionLink("Domov", "Index", "Home")</li>
            <li>@Html.ActionLink("Produkti", "Index", "Products")</li>
            <li>@Html.ActionLink("JSON izpis", "JsonIzpis", "Products")</li>
        </ul>*@
                <span>@Html.ActionLink("Domov", "Index", "Home")</span>
                <span style="padding:0 15px;">@Html.ActionLink("Izdelki", "Index", "Products")</span>
                <span>@Html.ActionLink("JSON izpis", "JsonIzpis", "Products")</span>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-align:center;">
            <div>
                <span>@Html.ActionLink("Domov", "Index", "Home")</span>
                <span style="padding:0 15px;">@Html.ActionLink("Izdelki", "Index", "Products")</span>
                <span>@Html.ActionLink("JSON izpis", "JsonIzpis", "Products")</span>
                <p style="padding-top:15px;">&copy; @DateTime.Now.Year - VSŠ NG - Informatika</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
