
<h2>Razor sintaksa</h2>
@*inline sintaksa brez ;*@
<h2>@DateTime.Now.ToShortDateString()</h2>
@*koda c# v več vrsticah*@
@{
    var datum = DateTime.Now.ToLongTimeString();
    var sporočilo = "Pozdravljen svet";
}
<h2>Ura je @datum</h2>
<h3>@sporočilo</h3>
@*html znotraj c#*@
@{
    var datum1 = DateTime.Now.ToLongDateString();
    var m = "Drugič pozdravljen";
    <text>Danes je </text> @datum1
    <br />
    @m
}
<br />
@if (DateTime.IsLeapYear(DateTime.Now.Year))
{
    @DateTime.Now.Year <text> je prestopno</text>
}
else
{
    @DateTime.Now.Year <text> ni prestopno</text>
}

@for (int i = 0; i < 5; i++)
{
    <br />
    @i.ToString();
}
